header {
  background-color: #D9D9D9;
}

header .container {
  justify-content: left;
  display: flex;
  align-items: center;
 
}

header img {
  justify-content: left;
  width: 140px;
  height: auto;
}

header nav {
  margin-left: 150px;
  display: flex;
  flex: 1;
  position: relative;
  margin-right: 1em;
  padding: 15px;
  display: inline-block;
}

header nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-right: 10px;
}

header nav ul li a {
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  color: #1A1E26;
  transition: all 250ms linear 0s;
  font-size: 15px;
  padding: 2.5em;
}

header nav ul li a:hover {
  color: #2D7EA3;
}

@media (max-width: 1120px) {
  .menu-section nav {
    display: none;
  }

  .one, .two, .three {
    background-color: #1E222D;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  /*Fullscreen*/
  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #D9D9D9;
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 10;
}

  .menu-section.on nav {
    display: flex;
    align-items: center;
    justify-content: center;
    right: 70px;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 25px;
    top: 25px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
    background-color: #1E222D;
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
    background-color: #1E222D;
  }

  .menu-section.on nav ul {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
  }

  .menu-section.on nav ul a {
    transition-duration:  0.5s;
    font-size: 2.0rem;
    display: block;
    font-family: 'Inter', sans-serif;
    color: #1A1E26;
    font-size: 15px;
    padding: 1.8rem;
  }

  .menu-section.on nav ul .hide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem;
  }

  .menu-section.on nav ul a:hover {
    color: #2D7EA3;
  }
}

@media (max-width: 320px) {
  #form h3 {
    font-size: 2rem;
  }
}

.open {
  display: flex;
}

.item {
  position: relative;
  margin-right: 1em;
  padding: 15px;
  display: inline-block;
  cursor: pointer;
}

.item a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  color: #1A1E26;
}

.item a:hover {
  color: blue;
}

.dropdown_menu {
  position: absolute;
  background-color: #D9D9D9;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  display: none; ;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

.item:hover .dropdown_menu {
  opacity: 1;
  visibility: visible;
  display: block; 
}

/* Estilo dos itens dentro do menu */
.dropdown_menu a {
  display: block; 
  padding: 10px 0; 
  font-family: 'Inter', sans-serif;
  color: #1A1E26;
  text-decoration: none; 
  transition: all 250ms linear 0s; 
  text-align: center; 
}

.dropdown_menu a:hover {
  color: #2D7EA3; 
}

.item:hover .dropdown_menu {
  opacity: 1;
  visibility: visible;
}

.dropdown_menu.left-aligned {
  left: auto;
  right: 0;
}

.dropdown_divider {
  width: 100%;
  height: 1px;
  background-color: var(--select-color);
  border: none; 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}

.dropdown_toggle {
  color: black;
  font-family: 'Inter', sans-serif;
  color: #1A1E26;
}
