.redondo-container {
    position: relative;
    width: 17.5rem; 
    height: 23.8rem; 
  }
  
  .redondo {
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 50%; 
    top: -10%;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
    background-color: pink;
  }
  
  .redondo img {
    width: 100%;
    height: auto;
  }
  
  .quadrado {
    width: 22rem; 
    height: 14rem; 
    background-color: white;
    position: absolute;
    top: 20%; 
    left: 50%;
    border: 0.125rem solid lightgray; 
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%); 
    
  }
  
  .informacoes {
    align-items: center;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 16.5rem; 
    left: 50%; 
    transform: translateX(-50%); 
    font-family: 'inter';
    font-style: normal;
    font-size: 0.875rem;
    line-height: 0.938rem;
    color: #000000;
}

.divisor{
    width: 100%; 
    position: absolute;
    bottom: 14rem;
    left: 50%; 
    transform: translateX(-50%);
}

.icones {
  width: auto;
  position: absolute;
  color: black;
  bottom: 13rem;
  left: 50%;
  display: flex; 
  align-items: center;
  justify-content: space-between; 
  transform: translateX(-50%);
  size: 1.25rem;
}

.icones a:not(:last-child) { 
  margin-right: 0.625rem; 
}

.icones svg {
  fill: black;
  cursor: pointer;
  transition: fill 0.3s;
}

.icones svg:hover {
  fill: #2D7EA3;
}