.container{
    width: 100%;
    display: auto;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-grow: 1;
}

.min_height{
    min-height: 100%;
}

.start{
    justify-content: flex-start;
}

.column{
    flex-direction: column;
    justify-content: flex-start;
}
