.redondo-container {
    position: relative;
    width: 280px; 
    height: 450px; 
  }
  
  .redondo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    border: 4px solid white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
  }
  
  .redondo img {
    width: 100%;
    height: auto;
  }
  
  .quadrado {
    width: 400px; 
    height: 250px; 
    background-color: white;
    position: absolute;
    top: 20%; 
    left: 50%;
    border: 2px solid lightgray; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transform: translate(-50%, -50%); 
  }
  
  .informacoes {
    align-items: center;
    text-align: center;
    width: 100%;
    height: 150px; 
    position: absolute;
    bottom: 200px; 
    left: 50%; 
    transform: translateX(-50%); 
}

.divisor{
    width: 100%;
    height: 80px; 
    position: absolute;
    bottom: 210px; 
    left: 50%; 
    transform: translateX(-50%);
}

.icones{
    width: auto;
    height: 60px; 
    position: absolute;
    color: black;
    bottom: 220px;
    left: 50%; 
    align-items: center;
}

.icones svg{
    fill: black;
    cursor: pointer;
    transition: fill 0.3s;
}

.icones svg:hover {
    fill: blue; 
}
