:root {
    --cabecalho-color: #090E17;
    --text-color: black;
    --text-light-color: #D9D9D9;
    --select-color: #2D7EA3;
    --background-color: #1E222D;
    --box-color: #FFFF;
}

.content {
    width: 100%;
}

.card {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    width: 100%;
    background-color: rgb(107, 96, 96);
    background-image: url("https://i.postimg.cc/PxH177MQ/garra-panterao.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    overflow: hidden; 
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.425); 
    z-index: 1; 
}

.card * {
    position: relative;
    z-index: 2; 
}

.alignTitulos {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.textoTitulos {
    flex: 1;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.3rem;
    text-align: center;
    color: var(--text-color);
    position: relative;
}

.textoTitulos::after {
    content: '';
    display: block;
    width: 30%;
    border-bottom: 1px solid #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.cardItem {
    display: flex;
    width: 100%;
    margin-bottom: 20px;

}

.cardItem {
    justify-content: center;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    align-items: center; 
}
.downloadLink {
    display: flex;
    text-decoration: none;
    color: black;
}

.pdfIcon {
    font-size: 3rem;
    margin-right: 0.5rem;
    align-items: center;
}

.fileName, .modDate, .fileSize {
    display: flex;
    align-items: center;
    font-size: 1rem;
    justify-content: center;
    flex: 1;
    width: 33.33%; 
}

.fileInfo{
    display: flex;
    align-items: center;
    flex-grow: 0.5;
    margin-left: 12rem;
}

.modDate{
    margin-right: 7rem;
}

.fileSize{
    margin-right: 3rem;
}

.modDate,
.fileSize {
    flex-grow: 1; 
    text-align: center;
}


.fileInfo svg:hover {
    fill: var(--select-color);
    align-items: center; 
}

.divider {
    width: 80%;
    margin: 10px auto;
    height: 0.2px;
    background-color: #000;
}

@media (max-width: 800px) {
    .pdfIcon {
        font-size: 1rem;
    }
    .cardItem {
        flex-direction: column;
        align-items: center;
    }
    .fileInfo {
        flex-grow: 1; 
        margin-left: 0; 
        margin-right: 0; 
    }    
    .modDate, .fileSize {
        margin-right: 0; 
    }
    .cardItem {
        flex-direction: column;
        align-items: center;
    }
    .alignTitulos {
        flex-direction: column;
    }
}

