:root {
    --cabecalho-color: #090E17;
    --text-color: black;
    --text-light-color: #D9D9D9;
    --select-color: #2D7EA3;
    --background-color: #1E222D;
    --box-color: #FFFF;
}

.card {
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1rem;
}

.alignTitulos {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.textoTitulos {
    flex: 1;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.3rem;
    text-align: center;
    color: var(--text-color);
    position: relative;
}

.textoTitulos::after {
    content: '';
    display: block;
    width: 30%;
    border-bottom: 1px solid #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.cardItem {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-between;
}

.fileInfo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 33.33%; 
}

.downloadLink {
    display: flex;
    text-decoration: none;
    color: black;
}

.pdfIcon {
    font-size: 3rem;
    margin-right: 0.5rem;
    align-items: center;
}

.fileName, .modDate, .fileSize {
    display: flex;
    align-items: center;
    font-size: 1rem;
    justify-content: center;
    flex: 1;
    width: 33.33%; 
}

.fileInfo svg:hover {
    fill: var(--select-color);
}

.divider {
    width: 80%;
    margin: 10px auto;
    height: 0.2px;
    background-color: #000;
}

@media (max-width: 600px) {
    .pdfIcon {
        font-size: 1rem;
    }
    .fileInfo {
        display: flex;
        padding: 1rem;
        align-items: center;
        flex-direction: column;
    }    
    .modDate {
        display: flex;
        flex-direction: column;
    }
    .cardItem {
        flex-direction: column;
        align-items: center;
    }
    .alignTitulos {
        flex-direction: column;
    }
}
