:root{
    --cabecalho-color: #090E17;
    --text-color: black;
    --text-light-color: #D9D9D9;
    --select-color: #2D7EA3;
    --background-color: #1E222D;
    --box-color: #FFFF;
    --span-color: #626569;
}

.footer {
    width: 100%;
    height: auto;
    background-color: var( --text-light-color);
    padding: 1em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: right; 
    list-style-type: none;
    color: var( --text-color)
}

.social_list li {
    margin-right: 10px; 
}

.social_list svg:hover {
    fill: var(--select-color);
}

.social_list svg{
    fill: var(--text-color);
    font-size: 2.25em;
    cursor: pointer;
    transition: fill 0.3s;
}

.copy_right{
    text-align: left;
    align-items: flex-start;
    color: var( --span-color);
}

.copy_right span{
    font-weight: bold;
}

.text{
    text-align: left;
    align-items: flex-start;
    color: var( --span-color);
}

.textRight {
    right: 0;
    position: relative;
    justify-content: flex-end;
    color: var( --span-color);
}

.textRightEnd {
    position: relative;
    justify-content: flex-end;
    color: var( --span-color);
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 35px;
}

.aux {
    display: flex;
    justify-content: space-between;
}

.images{
    justify-content: flex-start;
    padding-left: 10px;
}

.auxsocial{
    justify-content: flex-end;
}

.logo {
    width: 60px;
    height: 60px;
}

.logoCEFET {
    width: 200px;
    height: 60px;
}

.textoRow{
    display:flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .textoRow {
        flex-direction: column; 
        align-items: center; 
    }
    .aux {
        flex-direction: column;
        align-items: center;
    }
    .auxsocial{
        padding-top: 2rem;
    }
}

