.formRow {
    display: flex;
    justify-content: space-between;
}

.formFieldTelefone {
    flex: 0 0 calc(40% - 0.5rem); 
}

.formFieldEmail {
    flex: 0 0 calc(60% - 0.5rem);
}

.errorMessage {
    color: red;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #0056b3;
    /* Fundo */
    color: #fff;
    /* Cor do texto branco */
    padding: 15px 30px;
    /* Espaçamento interno */
    border: 2px solid #fff;
    /* Borda branca */
    border-radius: 10px;
    /* Bordas arredondadas */
    cursor: pointer;
    /* Cursor ao passar o mouse */
    font-size: 20px;
    /* Tamanho da fonte */
    text-align: center;
    /* Centraliza o texto */
    font-family: 'Jockey One', sans-serif;
    /* Fonte similar */
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
    /* Sombra */
    transition: transform 0.3s ease, background-color 0.3s ease;
    /* Transição suave */
}


button[type="submit"]:hover {
    transform: scale(1.1);
    /* Aumenta o botão em 10% ao passar o mouse */
    background-color: #053651;
    /* Cor de fundo ao passar o mouse */
}

.buttonPosition{
    position: absolute;
    padding-left:37.5rem;
    padding-top: 10rem;
}

@media (max-width: 1099px){
    .buttonPosition{
        padding-left:0rem;
        padding-top: 0rem;
    }
}

@media (max-width: 768px) {
    .formFieldTelefone {
        flex: 0 0 calc(50% - 0.5rem); 
    }
    
    .formFieldEmail {
        flex: 0 0 calc(50% - 0.5rem); 
    }

}