* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
  }
  
  :root {
    --cabecalho-color: #090E17;
    --select-color: #2D7EA3;
    --background-color: #1E222D;
    --text-rodape-color: #D9D9D9;
    --text-page-color: #D9D9D9;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  
  .informacoes{
    display: flex;
    flex-direction: row;
    background-color: #2D7EA3;
  }

  .parceiro {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    background-color: pink;
    margin-left: 5rem;
}
  
  .parceiro img {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    background-color: blue;
    align-items: left;
  }
  
  .parceiroInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
  }
  
  .parceiroInfo h2 {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #000000;
  }
  
  .parceiroDetalhes {
    margin-top: 10px;
    text-align: left;
  }
  
  .parceiroDescricao {
    display: flex;
    align-items: center;
  }
  
  .parceiroDescricao p {
    margin: 0;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.05em;
    color: #000000;
  }

.descricaoEmpresa{
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 50;
    font-size: 1.5rem;
    line-height: 37px;
    letter-spacing: 0.05em;
    color: #000000;
    align-items: left;
}
  
.divider{
    width: 20rem;
    margin: 0px auto;
    height: 0.2px;
    background-color: #000;
}
