* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

:root {
  --hoverColor: #27749B;
  --boxColor: #ffffff;
  --backgroundColor: #D9D9D9;
  --textColor: #000000;
  --titleEventosColor: #109AB3;
  --buttonColor: #EDA15B;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: var(--text-page-color);
}

.informacoes {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
}

.rowReverse {
  flex-direction: row-reverse;
  .parceiroInfo {
    align-items: flex-end;
  }
}

.parceiro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50rem;
  height: 30rem;
  padding: 0.9375rem;
  margin-left: 3rem;
  margin-right: 3rem;
  border: 0.125rem solid transparent;
  border-radius: 0.625rem;
  overflow: hidden;
}

.parceiro img {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  background-color: blue;
  margin-bottom: 1.5rem;
}

.parceiroInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-left: 3rem;
}

.parceiroInfo h2 {
  margin: 0;
  margin-bottom: 0.625rem;
  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 3.125rem;
  text-align: left;
  color: #000000;
}

.divider {
  width: 20rem;
  margin: 0px 0 0px 0;
  height: 0.0125rem;
  background-color: #000;
}

.parceiroDetalhes {
  margin-top: 0.625rem;
  text-align: center;
  width: 100%;
}

.parceiroDescricao {
  margin-right: 10rem;
  align-items: center;
}

.parceiroDescricao p {
  margin: 0;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.3125rem;
  letter-spacing: 0.05em;
  color: #000000;
  text-align: center;
}

.descricaoEmpresa {
  font-family: 'Kumbh Sans';
  margin-top: 1.5rem;
  font-style: normal;
  font-weight: 50;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #000000;
}

.background1 {
  background-color: rgb(209, 208, 208);
}

.background2 {
  background-color: #D9D9D9;
}

@media (max-width: 75rem) {
  .parceiro {
    width: 40rem;
    height: 22rem;
  }

  .parceiro img {
    width: 12rem;
    height: 12rem;
  }

  .parceiroInfo h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .parceiroDescricao p {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

@media (max-width: 48rem) {
  .informacoes {
    flex-direction: column;
    align-items: center;
  }

  .parceiro {
    width: 15rem;
    height: 25rem;
    flex-direction: column;
    align-items: center;
    padding: 0.625rem;
    margin: 0.625rem 0;
  }

  .parceiro img {
    width: 15rem;
    height: 15rem;
  }

  .parceiroInfo {
    align-items: center;
    padding-left: 0rem;
  }

  .parceiroInfo h2 {
    font-size: 1.25rem;
    line-height: 1.625rem;
    text-align: center;
  }

  .parceiroDescricao p {
    font-size: 1rem;
    line-height: 1.375rem;
    text-align: center;
  }

  .descricaoEmpresa {
    text-align: center;
  }

  .rowReverse {
    .parceiroInfo {
      align-items: center;
    }
  }

}
