* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
}
html{
  font-size: 90.5%;
}

html,
body {
  min-height: 100vh;
  font-family: "Source Sans Pro";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

/* Adição de animações nas rotas */
body {
  background-color: #090E17; 
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  flex-grow: 1;
}

.page {
  width: 100%;
  min-height: 100vh;
  background-color: #090E17; 
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}