* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0
}

:root {
    --hoverColor: #27749B;
    --boxColor: #ffffff;
    --backgroundColor: #D9D9D9;
    --textColor: #000000;
    --titleEventosColor: #109AB3;
    --buttonColor: #EDA15B;
}

.Body {
    position: relative;
    background-color: var(--backgroundColor);
}

.overlay {
    position: relative;
}

.bg {
    width: 100%;
    height: 30vw;
    display: block;
    filter: brightness(40%);
    object-fit: cover;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #DAE7FE;
    font-size: 32px;
    text-align: center;
    z-index: 1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.3em;
}

/* ORIENTADORA */
.TituloOrientadora {
    margin: 5rem;
}

.TituloOrientadora h2 {
    margin-left: 2rem;
    margin-bottom: 1rem;
    position: relative;
    text-align: left;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 50px;
    color: #000000;
}

.TituloOrientadora hr {
    width: 100%;
    height: 3px;
    background-color: var(--textColor);
}

.DivisaoTela {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
}

.TelaEsquerda {
    width: 50%;
    display: flex;
    justify-content: center;
    padding-top: 3vw;
}

/* Centralização da Box Orientadora */

.baseDiretoria {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4vw;
}


/*Final Card Gabriela */


.TelaEsquerda h2 {
    padding-left: 5rem;
}

.TelaDireita {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.TelaDireita p {
    width: 40vw;
    text-align: justify;
    position: relative;
    text-align: left;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 40px;
    text-align: justify;
    color: #000000;
}

.verMaisButton {
    background-color: #0056b3;
    /* Fundo */
    color: #fff;
    /* Cor do texto branco */
    padding: 15px 30px;
    /* Espaçamento interno */
    border: 2px solid #fff;
    /* Borda branca */
    border-radius: 10px;
    /* Bordas arredondadas */
    cursor: pointer;
    /* Cursor ao passar o mouse */
    margin-top: 50px;
    /* Espaçamento superior */
    font-size: 20px;
    /* Tamanho da fonte */
    text-align: center;
    /* Centraliza o texto */
    font-family: 'Jockey One', sans-serif;
    /* Fonte similar */
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
    /* Sombra */
    transition: transform 0.3s ease, background-color 0.3s ease;
    /* Transição suave */
}

.verMaisButton:hover {
    transform: scale(1.1);
    /* Aumenta o botão em 10% ao passar o mouse */
    background-color: #053651;
    /* Cor de fundo ao passar o mouse */
}

/* Area bolsistas*/
.TituloBolsistas {
    /* margin-top: 5rem; */
    margin-left: 5rem;
    margin-right: 5rem;
}

.TituloBolsistas h2 {
    margin-left: 2rem;
    margin-bottom: 1rem;
    position: relative;
    text-align: left;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 50px;
    color: #000000;
}

.TituloBolsistas hr {
    width: 100%;
    height: 3px;
    background-color: var(--textColor);
}

.DivisaoTela2 {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
}

.TelaEsquerda2 {
    width: 50%;
}

.TelaDireita2 {
    padding-top: 5vw;
    width: 50%;
}

/*AQUI VAI A CONFIGURAÇÃO DAS BOX DOS BOLSISTAS*/
.baseDiretoria {
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--text-page-color);
    justify-content: space-around;
}

.membro {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding-right: 5vw;

}


.ParteDireita2 {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    flex-direction: row;
    flex-wrap: nowrap;
}


.ParteDireita2>* {
    display: inline-flex;
    /* Garantir que os filhos não sejam tratados como blocos */
    flex: 0 1 auto;
    /* Ajustar a largura dos elementos filhos conforme necessário */
    margin: 15rem;
    /* Espaçamento entre os elementos */
}

.CardBols {
    max-width: 22rem;
    height: auto;
    /* Alterado de 13.5rem para auto para acomodar o conteúdo */
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    /* Adicionado para usar flexbox */
    flex-direction: column;
    /* Os itens são empilhados verticalmente */
    align-items: center;
    /* Centraliza horizontalmente */
    margin-top: 10rem;
}

.ImgPerfil {
    margin-top: -6rem;
    /* Move a imagem para cima, fora da caixa */
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    border: 0;
    object-fit: cover;
    background-position: 90% 10%;
    background-size: cover;

}

.img2 {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    border: 0;
    object-fit: cover;
}

.img3 {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    border: 0;
    object-fit: cover;
}

.img4 {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    border: 0;
    object-fit: cover;

}

.img5 {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    border: 0;
    object-fit: cover;
}



.parteMeio h1 {
    margin-left: 2rem;
    margin-bottom: 1rem;
    position: relative;
    text-align: left;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 50px;
    color: #000000;
}

.ParteEsquerda {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


/*Area O que é?*/
.TituloSobre {
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.TituloSobre h2 {
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    position: relative;
    text-align: left;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 50px;
    color: #000000;
}

.TituloSobre hr {
    width: 100%;
    height: 3px;
    background-color: var(--textColor);
}

.TituloSobre p{
    padding-top: 3rem;
    padding-left: 7rem;
    padding-right: 7rem;
    position: relative;
    text-align: left;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 35px;
    text-align: justify;
    color: #000000;
}

/*Area PROJETO CAMPUS ABERTO - ATLÉTICA PANTERÃO*/
.SobreProjeto {
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.SobreProjeto h2 {
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    position: relative;
    text-align: left;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 50px;
    color: #000000;
}

.SobreProjeto hr {
    width: 100%;
    height: 3px;
    background-color: var(--textColor);
}

.SobreProjeto p {
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 3rem;
    position: relative;
    text-align: left;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 35px;
    text-align: justify;
    color: #000000;
}

.SobreProjeto p li {
    padding-left: 2rem;
    text-align: justify;
}


/* Area sobre PESQUISA, ENSINO E EXTENSÃO*/
.Pesquisa {
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.Pesquisa h2 {
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    position: relative;
    text-align: left;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 50px;
    color: #000000;
}

.Pesquisa hr {
    width: 100%;
    height: 3px;
    background-color: var(--textColor);
}
.Pesquisa p {
    /* width: 80rem; */
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 3rem;
    position: relative;
    text-align: left;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 35px;
    text-align: justify;
    color: #000000;
}


/* Area sobre Galeria de Fotos*/
.Galeria {
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.Galeria h2 {
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    position: relative;
    text-align: left;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 50px;
    color: #000000;
}

.Galeria hr {
    width: 100%;
    height: 3px;
    background-color: var(--textColor);
}

.Botao1 {
    display: flex;
    justify-content: center;

}

.DivisaoFotos {
    display: flex;
    justify-content: space-between;
}

.ColunaEsquerda {
    width: 33%;
    display: flex;
    justify-content: center;

}

.ColunaCentro {
    width: 33%;
    display: flex;
    justify-content: center;
}

.ColunaDireita {
    width: 33%;
    display: flex;
    justify-content: center;
}

/* .ImgCampeonato{
    margin-top: 8rem;
    margin-bottom: 8rem;
    display: flex;
    justify-content: center;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
} */

.ImgCampeonato {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    height: 370px;
    border-radius: 10px;
    /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
}


/* Bloco Apoiadores */
.Apoiadores {
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    flex-direction: row;
}


.apoiadorescard{

    margin: 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    }

.Apoiadores h2 {
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    position: relative;
    text-align: left;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 50px;
    color: #000000;
}

.Apoiadores hr {
    width: 100%;
    height: 3px;
    background-color: var(--textColor);
}

/*Bloco PARA MAIS INFORMAÇÕES*/
.DivisaoTela3 {
    display: flex;
    justify-content: center;
}

.ColunaEsquerda1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ColunaEsquerda1 h2 {
    margin-top: 4rem;
    margin-bottom: 1rem;
    position: relative;
    text-align: left;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 50px;
    color: #000000;
}

.ColunaEsquerda1 hr {
    width: 20vw;
    height: 0.2rem;
    background-color: var(--textColor);
}

.ColunaEsquerda1 p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding-top: 1rem;
    position: relative;
    text-align: left;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 40px;
    text-align: justify;
    color: #000000;
}


/*Criação do botao*/
.AlinharBotao {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.Botao {
    background-color: #EDA15B;
    border-radius: 50px;
    height: 50px;
    width: 25rem;
    font-size: 16px;
    letter-spacing: 5px;
    border: none;
}

.Botao:hover {
    cursor: pointer;
    color: #D9D9D9;
}

.LogoCampusAberto {
    margin-top: 3rem;
    width: 90%;
    height: 90%;
}

/* Resposividade */

@media(max-width: 1440px){
    .DivisaoTela2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .TelaEsquerda2{
        visibility: hidden;
        width: 0%;
    }
    .TelaDireita2{
        width: 100%;
    }
    .baseDiretoria{
        display: grid;
        grid-template-columns: auto auto;
        background-color: var(--text-page-color);
        justify-content: space-around;
    }
}
@media(max-width:1220px){
    .bg{
        height: 40vw;
    }
    .title{
        font-size: 2rem;
    }
    .DivisaoTela{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .TelaDireita h2{
        padding-top: 1rem;
        width: 55vw;
        padding-bottom: 2rem;
    }
    .apoiadorescard{
        flex-direction: column;
    }
    .TituloBolsistas{
        padding-top: 2rem;
    }
    .Pesquisa h2{
        width: 55rem;
    }
}
@media(max-width:950px){
    .TelaDireita h2{
        padding-top: 1rem;
        width: 60vw;
        padding-bottom: 2rem;
    }
    .DivisaoFotos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .DivisaoTela3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .LogoCampusAberto{
        width: 100%;
    }
    .Pesquisa h2{
        width: 42rem;
    }
}
@media(max-width:700px){
    .bg{
        height: 50vw;
    }
    .title{
        font-size: 1.5rem;
    }
    .TituloOrientadora h1{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .TelaDireita h2{
        font-size: 1rem;
        font-size: 1.25rem;
    }
    .verMaisButton{
        font-size: 15px;
    }
    .TituloBolsistas h1{
        font-size: 1.5rem;
        font-weight: 1.5rem;
    }
    .baseDiretoria{
        grid-template-columns: auto;
    }
    .TituloSobre h1{
        font-size: 1.5rem;
        font-weight: 1.5rem;
    }
    .TituloSobre h2{
        font-size: 1rem;
        font-weight: 1.25rem;
    }
    .SobreProjeto h1{
        font-size: 1.5rem;
        font-weight: 1.5rem;
    }
    .SobreProjeto h2{
        font-size: 1rem;
        font-weight: 1.25rem;
    }
    .Pesquisa h1{
        font-size: 1.5rem;
        font-weight: 1.5rem;
    }
    .Pesquisa h2{
        width: 35rem;
        font-size: 1rem;
        font-weight: 1.25rem;
    }
    .Galeria h1{
        font-size: 1.5rem;
        font-weight: 1.5rem;
    }
    .Apoiadores h1{
        font-size: 1.5rem;
        font-weight: 1.5rem;
    }
    .ColunaEsquerda1 h1{
        font-size: 1.5rem;
        font-weight: 1.5rem;
    }
    .ColunaEsquerda1 h2{
        font-size: 1rem;
        font-weight: 1.25rem;
    }
}
@media(max-width: 550px){
    .Pesquisa h2{
        width: 25rem;
    }
    .TituloSobre h2{
        width: 25rem;
        display: flex;
        justify-items: center;
        align-items: center;
    }
    .ColunaEsquerda1 hr{
        width: 50vw;
    }
    .TituloOrientadora{
        padding-bottom: 3rem;
    }
    .TituloBolsistas{
        padding-bottom: 3rem;
    }
}