@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.cdnfonts.com/css/ds-digital');

/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #1E222D;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Overlay */
.overlay {
  position: relative;
}

/* Titles */
.title1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #DAE7FE;
  font-size: 32px;
  text-align: center;
  z-index: 1;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.3em;
  font-family: 'Inter';
}

.title2 {
  font-size: 36px;
  color: #FFD700;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 100px;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bg {
  width: 100%;
  height: 30vw;
  display: block;
  filter: brightness(40%);
}

/* Content */
.content {
  background-color: #1E222D;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Marquee */
.marquee {
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  border: 2px solid #FFD700;
  box-shadow: 0 0 10px #FFD700;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 20px;
}

.marqueeText {
  font-size: 36px;
  color: #FFD700;
}

/* Scoreboard Container */
.scoreboardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

/* Game Status */
.gameStatus {
  border-radius: 30px;
  background-color: black;
  color: #00ff15;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 30px;
  border: 2px solid #00ff15;
  box-shadow: 0 0 10px #00ff15;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

/* Scoreboard */
.scoreboard {
  font-family: 'DS-Digital', sans-serif;
  border-radius: 10px;
  background-color: black;
  padding: 20px;
  border: 2px solid #444;
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
  width: 700px;
  text-align: center;
  margin: auto;
  position: relative;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.boltTopLeft,
.boltTopRight,
.boltBottomLeft,
.boltBottomRight {
  width: 20px;
  height: 20px;
  background-color: gray;
  clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
  position: absolute;
}

.boltTopLeft {
  top: 5px;
  left: 5px;
}

.boltTopRight {
  top: 5px;
  right: 5px;
}

.boltBottomLeft {
  bottom: 5px;
  left: 5px;
}

.boltBottomRight {
  bottom: 5px;
  right: 5px;
}

/* Header */
.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.header .possession,
.header .fouls,
.header .timeouts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .fouls {
  position: relative;
  margin-bottom: 15px;
}

.header .tempo {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.header .tempo .circle {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  margin-left: 5px;
}

.header .timeouts {
  display: flex;
  gap: 5px;
}

/* Scores */
.scores {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

/* Team Section */
.teamSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Period */
.period .final::before {
  content: 'SEMI-FINAL';
  position: absolute;
  left: 100%;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Team Score */
.teamScore,
.periodNumber {
  font-size: 100px;
  margin: 5px 0;
  color: #FFD700;
}

.teamName1,
.teamName2 {
  font-size: 60px;
  margin: 5px 0;
  color: #FFD700;
  position: relative;
  top: -10px;
  /* Adjust as needed */
}

.periodTitle {
  font-size: 24px;
  color: #FFD700;
}

/* Possession, Fouls */
.pos,
.posNumber,
.foulsTitle,
.foulsNumber {
  color: #FFD700;
  font-size: 20px;
}

/* Weekly Games */
.weeklyGames {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 40px;
}

/* Title */
.title {
  font-size: 36px;
  color: #FFD700;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 100px;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Schedule */
.schedule {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
}

/* Day Section */
.daySection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.dayTitle {
  font-size: 24px;
  color: #DAE7FE;
  margin-bottom: 10px;
  margin-top: 40px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Game */
.game {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004080;
  padding: 10px;
  border: 2px solid #FFD700;
  box-shadow: 0 0 5px #FFD700;
  width: 500px;
  height: 100px;
  box-sizing: border-box;
  position: relative;
  /* Added to position child elements */
}

/* Team */
.team {
  display: flex;
  align-items: center;
  position: relative;
}

.logo1,
.logo2 {
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 50%;
  border: 1px solid #FFD700;
}

.logo1 {
  position: absolute;
  left: -35px;
  /* Adjust to move half outside */
}

.logo2 {
  position: absolute;
  right: -35px;
  /* Adjust to move half outside */
}

.teamName {
  font-size: 15px;
  color: white;
  position: relative;

}

.team.left .teamName {
  margin-left: 40px;
  /* Adjust as needed to center with logo */
}

.team.right .teamName {
  margin-right: 40px;
  /* Adjust as needed to center with logo */
  text-align: right;
}

/* Time */
.time {
  font-size: 30px;
  color: white;
  font-family: 'DS-Digital', sans-serif;
  align-items: center;
}


/* Table */
.table {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.table th,
.table td {
  border: 1px solid #004080;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

.table th {
  background-color: #004080;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

.table tr:nth-child(even) {
  background-color: #053651;
}

.table tr:nth-child(odd) {
  background-color: #053651;
}

/* Table Team */
.table .team {
  display: flex;
  align-items: center;
}

.table .logo {
  width: 30px;
  height: 30px;
  background-color: gray;
  border-radius: 50%;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsividade */
@media(max-width: 1240px) {
  .marqueeText {
    font-size: 32px;
  }

  .gameStatus {
    font-size: 20px;
  }

  .scoreboard {
    font-family: 'DS-Digital', sans-serif;
    border-radius: 10px;
    background-color: black;
    padding: 20px;
    border: 2px solid #444;
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
    width: 600px;
  }

  .boltTopLeft,
  .boltTopRight,
  .boltBottomLeft,
  .boltBottomRight {
    width: 19px;
    height: 19px;
    background-color: gray;
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    position: absolute;
  }

  .boltTopLeft {
    top: 4px;
    left: 4px;
  }

  .boltTopRight {
    top: 4px;
    right: 4px;
  }

  .boltBottomLeft {
    bottom: 4px;
    left: 4px;
  }

  .boltBottomRight {
    bottom: 4px;
    right: 4px;
  }

  /* Header */
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }

  .header .possession,
  .header .fouls,
  .header .timeouts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header .fouls {
    position: relative;
    margin-bottom: 14px;
  }

  .header .tempo {
    display: flex;
    align-items: center;
    margin-top: 14px;
  }

  .header .tempo .circle {
    width: 9px;
    height: 9px;
    background-color: green;
    border-radius: 50%;
    margin-left: 5px;
  }

  .header .timeouts {
    display: flex;
    gap: 4px;
  }
}
@media(max-width:700px){
  .scoreboard{
    height: 250px;
    width: 450px;
  }
  .periodTitle {
    font-size: 20px;
  }
  .foulsTitle{
    font-size: 18px;
  }
  .pos{
    font-size: 18px;
  }
  .teamName1,
  .teamName2{
    font-size: 35px;
  }
  .teamScore{
    font-size: 70px;
  }
  .periodNumber{
    font-size: 80px;
  }
  .title2{
    font-size: 28px;
  }
}
@media(max-width:550px){
  .scoreboard{
    height: 250px;
    width: 400px;
  }
  .periodTitle {
    font-size: 18px;
  }
  .foulsTitle{
    font-size: 16px;
  }
  .pos{
    font-size: 16px;
  }
  .teamName1,
  .teamName2{
    font-size: 25px;
  }
  .teamScore{
    font-size: 65px;
  }
  .periodNumber{
    font-size: 70px;
  }
  .title2{
    font-size: 26px;
  }
  .game{
    width: 400px;
  }
  /* retornar nos jogos da semana */
}