* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }
    
:root {
    --cabecalho-color: #090E17;
    --select-color: #2D7EA3;
    --background-color: #d9d9d9;
    --text-rodape-color: #D9D9D9;
    --text-page-color: #D9D9D9;
}

.Body {
    position: relative;
    background-color: var(--text-page-color);
}

/* Pai */
.overlay {
    position: relative;
}

.bg {
    width: 100%;
    height: 30vw;
    display: block;
    filter: brightness(40%);
    object-fit: cover;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #DAE7FE;
    font-size: 2.25rem;
    text-align: center;
    z-index: 1;
    font-family: 'inter', sans-serif;
    font-weight: 600;
    line-height: 2.75rem;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.3em;
}

.NossosEventos{
    position: relative;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 8rem;
    padding-bottom: 5rem;
}
.NossosEventos h1{
    position: relative;
    text-align: left;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 50px;
    color: #000000;
}
.NossosEventos hr{
    margin-top: 5px;
    height: 2px;
    width: 350px;
    background-color: #090E17;
}
.NossosEventos h2{
    padding-top: 3rem;
    position: relative;
    text-align: left;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: bolder;
    font-size: 1.5rem;
    line-height: 40px;
    text-align: justify;
    color: #000000;
}

/*Divisao da tela*/
.DivisaoTela1{
    display: flex;
    flex-direction: row;
    background-color: white;
}
.DivisaoTela2{
    display: flex;
    flex-direction: row;
    background-color: var(--text-page-color);
}
.TelaEsquerda{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TelaDireita{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Configuração dos textos*/
.TextoEvento{
    margin: 5rem;
    margin-top: 7rem; 
}
.TextoEvento h1{
    font-size: 24px;
    position: relative;
    text-align: left;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 50px;
    color: #2D7EA3;
}
.TextoEvento hr{
    background-color: #2D7EA3;
    margin-top: 5px;
    height: 2px;
    width: 350px;
    margin-bottom: 5px;
}
.TextoEvento h2{
    padding-top: 3rem;
    position: relative;
    text-align: left;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 40px;
    text-align: justify;
    color: #000000;
}

.DivisaoTela3{
    display: flex;
    flex-direction: row;
    background-color: white;
}

/*Definição global para todas as fotos que serão utilizadas na página*/
.ImgFestas{
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 30rem;
    height: 35rem;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
    object-fit: cover;
}

/* Responsividade */
@media(max-width:1450px){
    .ImgFestas{
        width: 27rem;
        height: 32rem;
    }
}
@media(max-width: 1200px){
    .bg{
        height: 40vw;
    }
    .title{
        font-size: 2rem;
    }
    .NossosEventos{
        padding-top: 3rem;
    }
    .ImgFestas{
        width: 25rem;
        height: 30rem;
    }
}
@media(max-width: 1000px){
    .DivisaoTela1{
        display: flex;
        flex-direction: column;
    }
    .TelaEsquerda{
        width: 100%;
    }
    .TelaDireita{
        width: 100%;
    }
    .ImgFestas{
        width: 32rem;
        height: 38rem;
    }
    .DivisaoTela2{
        display: flex;
        flex-direction: column-reverse;
    }
    .TelaEsquerda2{
        width: 100%;
    }
    .TelaDireita2{
        width: 100%;
    }
    .DivisaoTela3{
        display: flex;
        flex-direction: column;
    }
    .TelaEsquerda3{
        width: 100%;
    }
    .TelaDireita3{
        width: 100%;
    }
    .NossosEventos h1{
        font-size: 1.7rem;
        line-height: 1.25rem;
    }
    .NossosEventos h2{
        padding-top: 1.5rem;
        font-size: 1.25rem;
        line-height: 2rem;
    }
    .TextoEvento h1{
        font-size: 1.7rem;
        line-height: 1.5rem;
    }
    .TextoEvento h2{
        padding-top: 1.25rem;
        font-size: 1.25rem;
        line-height: 2rem;
    }
}
@media(max-width:850px){
    .ImgFestas{
        margin-top: 0.5rem;
        width: 27rem;
        height: 32rem;
    }
}
@media(max-width:700px){
    .bg{
        height: 50vw;
    }
    .title{
        font-size: 1.5rem;
    }
    .NossosEventos h1{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .NossosEventos h2{
        padding-top: 1rem;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .TextoEvento h1{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .TextoEvento h2{
        padding-top: 1rem;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .ImgFestas{
        margin-top: 0.5rem;
        width: 15rem;
        height: 20rem;
    }
}
@media(max-width:550px){
    .bg {
        height: 50vw;
    }

    .title {
        font-size: 1.5rem;
    }
    .NossosEventos{
        padding-top: 3rem;
    }
    .NossosEventos h1{
        font-size: 1.5rem;
        line-height: 1.25rem;
    }
    .NossosEventos hr{
        width: 250px;
    }
    .NossosEventos h2{
        padding-top: 1rem;
        font-size: 1rem;
        line-height: 1.25rem;
    }
    .TextoEvento h1{
        font-size: 1.5rem;
        line-height: 1.25rem;
    }
    .TextoEvento h2{
        padding-top: 1rem;
        font-size: 1rem;
        line-height: 1.25rem;
    }
    .ImgFestas{
        margin-top: 0.5rem;
        width: 15rem;
        height: 20rem;
    }
}