*{
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

:root{
    --cabecalho-color: #090E17;
    --select-color: #2D7EA3;
    --background-color: #1E222D;
    --text-rodape-color: #D9D9D9;
    --text-page-color: #D9D9D9;
}
.content{
    background-color: var(--background-color);
}

.overlay {
    position: relative;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #DAE7FE;
    font-size: 32px;
    text-align: center;
    z-index: 1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.3em;
}
.bg {
    width: 100%;
    height: 30vw;
    display: block;
    filter: brightness(40%);
}

/* Texto inicial */

.IntroEvento{
    padding-top: 5vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.IntroEvento h1{
    color: #D9D9D9;
    position: relative;
    text-align: left;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 50px;
}
.IntroEvento hr{
    margin-top: 1vw;
    height: 0.15vw;
    width: 40vw;
    background-color: var(--select-color);
}
.IntroEvento h2{
    padding-bottom: 1vw;
    font-size: 20px;
    padding-top: 1.5rem;
    line-height: 1.2;
    text-align: justify;
    position: relative;
    text-align: left;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: bolder;
    font-size: 1.4rem;
    color: #D9D9D9;
}
.IntroEvento h2 a{
    color: var(--select-color);
}

/* Tipo do evento */

.TipoEvento{
    display: flex;
    align-items: flex-start;
    padding-left: 4vw;
}
.TipoEvento h1{
    padding-bottom: 2vw;
    color: #D9D9D9;
    text-decoration: underline;
    position: relative;
    text-align: left;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 50px;
}

/* Configuração da lista de imagens */

.complexButton{
    padding: 0.5vw;
    padding-bottom: 3vw;
}
