* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

:root {
    --cabecalho-color: #090E17;
    --select-color: #2D7EA3;
    --background-color: #1E222D;
    --text-rodape-color: #D9D9D9;
    --text-page-color: #D9D9D9;
}

.content {
    vertical-align:baseline;
    background-color: #090E17;
    
}

.overlay {
    position: relative;
}

.bg {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.4;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #DAE7FE;
    font-size: 32px;
    text-align: center;
    z-index: 1;
    font-family: 'inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.3em;
}

.baseInformacoes {
    padding: 15px;
    align-items: left;
    background-color: #D9D9D9;
    justify-content: left;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.boxPrincipal {
    display: flex;
    background-color: var(--text-page-color);
    align-items: center;
    justify-content: center;
}

.baseDiretoria {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--text-page-color);
    justify-content: space-around; 
}

.linhaDiretoria {
    flex-direction: column;
}

.membro {
    width: calc(33.33% - 20px); 
    margin-bottom: 20px; 
}

.textoInformacoes{
    position: relative;
    text-align: left;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    color: #000000;
    padding-left: 5rem;
}

.textoDiretoria {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    margin-top: 5px;
}

.endPage{
    background-color: var(--text-rodape-color);
    padding:5px;
}


.dividerPrincipal{
    width: 200%;
    height: 80px; 
}

.groundColor{
    background-color: #D9D9D9;
}

@media (max-width: 1120px) {
    .content {
        flex-direction: column;
    }
    .baseDiretoria {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .textoInformacoes{
        padding-left: 0rem;
        text-align: center;
        font-size: 24px; 
    }

    .title {
        font-size: 24px; 
    }

    .baseInformacoes {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .membro {
        width: 100%; 
        margin-right: 0; 
    }
}