* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }


.content{

    background-color: red;
    
}


/*Texto Nossas Modalidades*/
.TextModalidades{
    margin-left: 10rem;
    padding-top: 4rem;
}
.TextModalidades h1{
    color: #2D7EA3;
    text-decoration: underline;
    position: relative;
    text-align: left;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 50px;
}

/* .TextModalidades hr{
    margin-top: 5px;
    height: 2px;
    width: 350px;
    background-color: #2D7EA3;
} */

.TextModalidades h2{
    font-size: 20px;
    padding-top: 1.5rem;
    line-height: 1.2;
    text-align: justify;
    position: relative;
    text-align: left;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: bolder;
    font-size: 1.4rem;
    color: #000000;
}

/*Definição de tamanho da img da garra*/
.Garra{
    width: 90%;
    height: 90%;
    margin-top: 50px;
}

/*Definição do tamanho das divs (dividir a tela ao meio)*/
.DivisaoTela{
    display: flex;
}
.BlocoEsquerda{
    width: 35vw;
}
.BlocoDireita{
    width: 70vw;
    margin-top: 150px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap; /*É ESSA FUNÇÃO CARALHOOOOOOOOOO */
    /* background-color: red; */
}
.ListModalidadesEsquerda{
    padding-left: 15rem;
}
.ListModalidadesEsquerda h1{
    text-decoration: underline;
    padding-bottom: 3rem;
    position: relative;
    text-align: left;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 50px;
    color: #000000;
}


/* .ListModalidadesEsquerda hr{
    margin-top: 5px;
    margin-bottom: 30px;
    height: 2px;
    background-color: #090E17;
} */


.ListModalidadesDireita{
    padding-left: 15rem;
}
.ListModalidadesDireita h1{
    text-decoration: underline;
    padding-bottom: 3rem;
    position: relative;
    text-align: left;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 50px;
    color: #000000;
}


/* .ListModalidadesDireita hr{
    margin-top: 5px;
    margin-bottom: 30px;
    height: 2px;
    background-color: #090E17;
} */


.ListModalidadesEsquerda li{
    position: relative;
    text-align: left;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    text-align: justify;
    color: #000000;
}
.ListModalidadesDireita li{
    position: relative;
    text-align: left;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    text-align: justify;
    color: #000000;
}

/*Texto informativo dos treinos*/
.Treino{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.Treino h1{
    text-decoration: underline;
    padding-bottom: 2rem;
    position: relative;
    text-align: left;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 50px;
    color: #000000;
}


/* .Treino hr{
    margin-top: 5px;
    margin-bottom: 20px;
    height: 2px;
    width: 150px;
    background-color: #090E17;
} */


.Treino h2{
    width: 55vw;
    position: relative;
    text-align: left;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 30px;
    text-align: justify;
    color: #000000;
}

/*Breve texto para acesso ao linktree dos treinos*/
.AcesseTreino h1{
    position: relative;
    text-align: left;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 50px;
    color: #000000;
}
.AcesseTreino{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
.AcesseTreino hr{
    margin-top: 10px;
    margin-bottom: 20px;
    height: 2px;
    width: 300px;
    background-color: #090E17;
}
.AcesseTreino h2{
    margin-top: 15px;
    position: relative;
    text-align: left;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 40px;
    text-align: justify;
    color: #000000;
}


/*Criação do botao*/
.verMaisButton {
    background-color: #0056b3; /* Fundo */
    color: #fff; /* Cor do texto branco */
    padding: 15px 30px; /* Espaçamento interno */
    border: 2px solid #fff; /* Borda branca */
    border-radius: 10px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor ao passar o mouse */
    margin-top: 50px; /* Espaçamento superior */
    font-size: 20px; /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    font-family: 'Jockey One', sans-serif; /* Fonte similar */
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3); /* Sombra */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transição suave */
  }
  .verMaisButton:hover {
    transform: scale(1.1); /* Aumenta o botão em 10% ao passar o mouse */
    background-color: #053651; /* Cor de fundo ao passar o mouse */
  }

  
/*Img Campeonatos*/
.DivisaoFotos{
    display: flex;
    justify-content: center;
    background-color: white;
}
.ColunaEsquerda{
    width: 33%;
    display: flex;
    justify-content: center;

}
.ColunaCentro{
    width: 33%;
    display: flex;
    justify-content: center;
}
.ColunaDireita{
    width: 33%;
    display: flex;
    justify-content: center;
}

.ImgCampeonato{
    margin-top: 5rem;
    margin-bottom: 10rem;
    width: 25rem;
    height: 30rem;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
}



