* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
  }
  
:root {
    --cabecalho-color: #090E17;
    --select-color: #2D7EA3;
    --background-color: #090E17;
    --text-rodape-color: #D9D9D9;
    --text-page-color: #D9D9D9;
  }

.content {
    vertical-align:baseline;
    background-color: #090E17;
    
}

.overlay {
    position: relative;
}

.bg {
    width: 60vw;
    height: auto;
    display: block;
    opacity: 0.4;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #DAE7FE;
    font-size: 32px;
    text-align: center;
    z-index: 1;
    font-family: 'inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.3em;
}

/* Informações iniciais */
.baseInformacoes {
    padding: 15px;
    align-items: left;
    background-color: #D9D9D9;
    justify-content: left;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.textoInformacoes{
    position: relative;
    text-align: left;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 50px;
    color: #000000;
    padding-left: 5rem;
}

.textoMotivacional{
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 6rem;
    text-align: center;
    padding-top: 1rem;
    color: #000000;
}

/* Divider*/
.divider {
    width: 20%;
    height: 0.2px;
    background-color: #000;
}

/* Final da página */
.pantera{
    width: 30rem;
    height: 30rem;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.endPage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--text-rodape-color)
}

.endPageRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.endPageLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Texto{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    width: 40rem;
    height: 3rem;
    font-family: 'Jockey One';
    font-style: normal;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 0.1em;
    color: #000000;
}

.CliqueNoBotao{
    width: 20rem;
    height: 3rem;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0.07em;
    color: #000000;
}

.finalDivider{
    width: 90%;
    height: 0.1rem;
    background-color: #252525;
}

/* Botão */
.AlinharBotao{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.Botao{
    background-color: #EDA15B;
    border-radius: 3rem;
    height: 3rem;
    width: 10rem;
    font-size: 1rem;
    text-decoration: underline;
}

.Botao:hover{
    cursor: pointer;
    color: #D9D9D9;
}

/* Parceiros */
@media (max-width: 1200px) {
    .parceiro img {
        width: 12rem;
        height: 12rem;
    }
  
    .parceiroInfo h2 {
        font-size: 30px;
        line-height: 40px;
    }
  
    .parceiroDescricao p {
        font-size: 24px;
        line-height: 30px;
    }
  }
  
  @media (max-width: 768px) {
    .baseInformacoes {
        padding: 0px;
        background-color: #D9D9D9;
        padding-top: 2rem;
    }

    .textoMotivacional{
        font-size: 1rem;
        line-height: 6rem;
        padding-top: 1rem;
        color: #000000;
    }

    .divider {
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 0.2px;
        background-color: #000;
    }
    
  }
  
  @media (max-width: 480px) {
    .baseInformacoes {
        padding: 0px;
        background-color: #D9D9D9;
        padding-top: 2rem;
    }

    .textoMotivacional{
        font-size: 0.9rem;
        line-height: 6rem;
        padding-top: 1rem;
        color: #000000;
    }

    .divider {
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 0.2px;
        background-color: #000;
    }
    
  }